@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
}
body{

}
p{
    color: white;
}
.dialog{
    background-color: #14141A;
    width: 800px;
    height: 100%;
}html
 {
     scrollbar-width:thin;
     scrollbar-color: #333 #222;
 }
 .main{
     background-color: #1e1e26;
     border-radius: 10px;
     padding: 22px 23px 22px 23px ;


 }
 #app{
     background: url(fon2.png) no-repeat center center fixed;
     background-size: cover;
     
 }
