@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
}

p{
    color: white;
}

.buttons button {
    width: 14.537vh;
    height: 2.5926vh;
    font-size: 1.1111vh; 
    border-radius: 0.463vh;
    background-color: rgba(255, 255, 255, 5%);
    color: white;
  }

  .buttons{
   
    gap: 0.6481vh;
  }
  
html
 {
     font-family: 'Gilroy-Regular', sans-serif;
 }
 .main{
     background-color: rgba(22, 21, 28, 1);
     border-radius: 0.9259vh;
     padding: 2.037vh 2.1296vh 2.037vh 2.1296vh ;


 }
 #app{
     background: url(fon2.png) no-repeat center center fixed;
     background-size: cover;

 }

::webkit-scrollbar-button { 
    display: none;
}

::webkit-scrollbar-width {
    width: 3px;
}
